<div class="d-flex flex-column">
    <div class="d-flex justify-content-center">
        <div id="spinner" class="spinner-border text-@(Color)"></div>
    </div>
    <div class="d-flex justify-content-center">
        <p id="text" class="text-@(Color)" m-0>Loading...</p>
    </div>
</div>