<div class="row">
    <div class="col">
        <div class="d-flex flex-column m-5">
            <div class="d-flex justify-content-center">
                <div id="spinner" class="spinner-border text-dark"></div>
            </div>
            <div class="d-flex justify-content-center">
                <p id="text" class="text-dark">Loading...</p>
            </div>
        </div>
    </div>
</div>