<div class="row">
    <div class="col rounded-3 panel panel-regular m-1">
        <div>
            <h2 class="text-danger">Sorry. You have no permission to view this site.</h2>
        </div>
    </div>
</div>