/* DEFAULT */

.mt-default {
    margin-top: 1rem !important;
}

.gx-default {
    --bs-gutter-x: 1rem !important;
}

.gap-default {
    gap: 1rem;
}



/* OTHERS */

.mt-over-panel-menu {
    margin-top: 3rem !important;
}