@inherits Component



<div class="container-grid">
    <div class="row gx-3">
        <div class="col">
            <span id="title" class="fw-bold">@(Title)</span>
        </div>
        <div class="col-auto align-self-center">
            <DisplayRating Rating="@(Rating)"/>
        </div>
    </div>
</div>