@page "/auth"
@layout EmptyLayout

<PageTitle>WatchIt - @(_authType == AuthType.SignIn ? "Sign in" : "Sign up")</PageTitle>





<div class="h-100 d-flex align-items-center justify-content-center">
    <div class="d-inline-flex flex-column justify-content-center panel rounded-3">
        <a class="logo" href="/">
            WatchIt
        </a>
        @if (_authType == AuthType.SignIn)
        {
            
        }
    </div>
</div>





<style>
    body {
        background: url('@(_background)') no-repeat center center fixed;
    }

    .logo {
        background-image: linear-gradient(45deg, @_firstGradientColor, @_secondGradientColor);
    }
</style>





@code {
    
    #region ENUMS

    private enum AuthType
    {
        SignIn,
        SignUp
    }

    #endregion
    
    
    
    #region FIELDS

    private AuthType _authType = AuthType.SignIn;
    private string _background = "assets/background_temp.jpg";
    private string _firstGradientColor = "#c6721c";
    private string _secondGradientColor = "#85200c";

    #endregion

    
    
    #region METHODS

    protected override Task OnInitializedAsync()
    {
        return base.OnInitializedAsync();
    }

    #endregion
}