@page "/"

<PageTitle>WatchIt</PageTitle>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
            <h2>Hello, world!</h2>
            <p>Welcome to your new app.</p>
        </div>
    </div>
</div>