/* CLASSES */

.metadata-pill {
    border-color: gray;
    border-width: 2px;
    border-radius: 30px;
    border-style: solid;
    
    padding: 2px 10px;
}

.title-shadow {
    text-shadow: 2px 2px 2px #000;
}

.description-shadow {
    text-shadow: 1px 1px 1px #000;
}