@page "/movies/new"
@page "/movies/{id:long}/edit"

<PageTitle>WatchIt - New movie</PageTitle>

@if (_loaded)
{
    <div class="container-fluid">
        @if (_authenticated)
        {
            <div class="row">
                <div class="col rounded-3 panel panel-regular m-1">
                    <h2>@(Id is null ? "Create new movie" : $"Edit movie \"{_movieInfo.Title}\"")</h2>
                </div>
            </div>
            <MediaFormComponent Data=@(_movieData) SaveDataAction=SaveData Id=@(Id) SaveDataErrors=@(_movieDataErrors) SaveDataInfo=@(_movieDataInfo)/>
        }
        else
        {
            <NoPermissionComponent/>
        }
    </div>
}