@using System.Text
@using WatchIt.Website.Components.Pages.UserPage.Panels

@page "/user/{id:long?}"

@{
    StringBuilder sb = new StringBuilder(" - WatchIt");

    if (!_loaded)                   sb.Insert(0, "Loading...");
    else if (_accountData is null)  sb.Insert(0, "Error");
    else
    {
        if (_owner) sb.Insert(0, "Your profile");
        else        sb.Insert(0, $"\"{_accountData.Username}\" profile");
    }

    <PageTitle>@(sb.ToString())</PageTitle>
}



<div class="container-grid">
    @if (!_loaded)
    {
        <div class="row">
            <div class="col">
                <div class="m-5">
                    <LoadingComponent/>
                </div>
            </div>
        </div>
    }
    else if (_accountData is null)
    {
        <div class="row">
            <div class="col">
                <ErrorPanelComponent ErrorMessage="@($"User with ID {Id!.Value} was not found")"/>
            </div>
        </div>
    }
    else
    {
        <div class="row mt-header">
            <div class="col">
                <UserPageHeaderPanelComponent AccountData="@(_accountData)"/>
            </div>
        </div>
        <div class="row mt-over-panel-menu">
            <div class="col">
                <Tabs Pills
                      RenderMode="TabsRenderMode.LazyLoad"
                      SelectedTab="summary"
                      Class="panel panel-menu panel-background-menu justify-content-center">
                    <Items>
                        <Tab Name="summary">Summary</Tab>
                        <Tab Name="movies">Movies</Tab>
                        <Tab Name="series">TV Series</Tab>
                        <Tab Name="people">People</Tab>
                        <Tab Name="people">Roles</Tab>
                    </Items>
                    <Content>
                        <TabPanel Name="summary">
                            
                        </TabPanel>
                        <TabPanel Name="movies">
                            
                        </TabPanel>
                        <TabPanel Name="series">

                        </TabPanel>
                        <TabPanel Name="people">

                        </TabPanel>
                        <TabPanel Name="roles">

                        </TabPanel>
                    </Content>
                </Tabs>
            </div>
        </div>
    }
</div>