@using WatchIt.DTO.Models.Controllers.Accounts.Account
@using WatchIt.Website.Components.Subcomponents.Common

@inherits Component



<div class="vstack gap-default">
    <div class="panel panel-section-header">
        <h3 class="fw-bold m-0">@(Title)</h3>
    </div>
    @if (!_loaded)
    {
        <div class="panel">
            <Loading Color="Loading.Colors.Light"/>
        </div>
    }
    else if (!_items.Any())
    {
        <div class="panel">
            <div class="d-flex justify-content-center">
                No items
            </div>
        </div>
    }
    else
    {
        foreach (AccountResponse item in _items)
        {
            <div class="panel">
                <VerticalListUserItem Item="item"
                                      PictureSize="50"/>
            </div>
        }
    }
</div>