@if (IsLoading)
{
    <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
    <span>@LoadingContent</span>
}
else
{
    if (ChildContent is null)
    {
        <span>@Content</span>
    }
    else
    {
        @(ChildContent)
    }
}