<a class="text-decoration-none text-reset" href="/user/@(Item.Id)">
    <div class="d-flex align-items-center gap-4">
        <AccountPictureComponent Id="@(Item.Id)"
                                 Size="@(PictureSize)"/>
        <h4 class="fw-bold">@(Item.Username)</h4>
    </div>
</a>