/* TAGS */

h1 {
    margin: 0;
}



/* IDS */

#user-menu {
    position: fixed;
}



/* CLASSES */

.logo {
    font-size: 40px;
}

.header {
    position: sticky;
    top: 10px;
    height: 60px;
}

.body-content {
    padding-top: 100px;
}