/* IDS */

#nameText {
    font-size: 20px;
}

#ratingNameText {
    font-size: 14px;
    font-weight: bold;
}

#ratingLoginInfoText {
    font-size: 13px;
}

#ratingStar {
    font-size: 30px;
}

#ratingValue {
    font-size: 20px;
}

#ratingCount {
    font-size: 10px;
}