/* IDS */

#scrollPhotos {
    overflow-x: scroll;

    border-color: grey;
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
}

#backgroundIndicator {
    height: 30px;
    width: 30px;
}



/* CLASSES */

.circle-blue {
    background-color: dodgerblue;
    border-color: dodgerblue;
}

.circle-grey {
    background-color: grey;
    border-color: grey;
}

.no-vertical-align {
    vertical-align: inherit;
}

.photo-container {
    width: 350px;
}

.text-size-upload-date {
    font-size: 12px;
}

.photo-default-aspect-ratio {
    aspect-ratio: 16/9;
}