<div class="panel panel-padding-regular panel-radius-regular panel-background-regular @(Class)">
    <div class="vstack">
        <span class="panel-text-title">Actors</span>
        <RoleListComponent Id="@(Id)" 
                           TRole="WatchIt.Common.Model.Roles.ActorRoleResponse"
                           TQuery="WatchIt.Common.Model.Roles.ActorRoleMediaQueryParameters"
                           GetRolesAction="MediaWebAPIService.GetMediaAllActorRoles"
                           AdditionalTextSource="@(data => data.Name)"/>
    </div>
</div>